.channel-index-outer {
    font-family: $font;
    display: flex;
    flex-direction: column;
    background: #2F3136;
    width: 240px;
    height: 100vh;
    align-items: center;
}

.channel-index {
    font-family: $font;
    display: flex;
    flex-direction: column;
    background: #2F3136;
    width: 240px;
    height: 100vh;
    align-items: center;
    // align-items: left;
    overflow-y: scroll;
    
    a {
        // width: 80px;
        // height: 80px;
        border: 1px;
        background: #2F3136;
        border-radius: 10px;
        font-size: 16px;
        // font-weight: 400;
        margin-top: 16px;
        line-height: 16px;
        text-align: center;
        // text-align: left;
        // align-items: left;
        color: #FFFFFF;
    }
}

.channel-form-text {
height: 10vh;
}

.channel-index-2-button {
    font-family: $font;
    // background-color: #43b581;
    background-color: #8E89C7;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 3px;
    width: 170px;
    margin: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}