// .messageform {
//     * {
//     margin: 2px;
//     padding: 5px;
//     }
//     li {
//     list-style: decimal;
//     }
//     .chatroom-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     }
//     .message-list {
//     overflow-y: scroll;
//     height: 300px;
//     width: 400px;
//     border: solid gray 1px;
//     }
//     .load-button {
//     position: absolute;
//     top: 5px;
//     right: 5px;
//     }
// }

.chatroom-container {
    width: calc(100% - 350px);
    height: 100vh;
    position: absolute;
    left: 320px;
    // top: 10vh;
    background-color: #36393F;
    color: #FFFFFF;
    padding-left: 30px;
    // padding-top: 50px;
    font-family: $font;
    font-size: 16px;
    overflow-y: scroll;
}

.chatroom-message-list {
    // padding-left: 20px;
    // overflow-y: scroll;
}

.chatroom-username {
    font-family: $font;
    // font-weight: 500;
    border-top: 1px solid #42454A;
    padding-top: 5px;
    color: #8E89C7;
    padding-bottom: 3px;
}

.chatroom-message-body{
    padding-bottom: 7px;
    // font-weight: 400;
}

.messageform {
    padding: 10px;
    // line-height: -10px;
    height: 30px;
    width: calc(100% - 60px);
    border-radius: 3px;
    // border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #40444B;
    // padding-bottom: 50px;
    font-family: $font;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 350;
}

.messageform-submit {
    width: calc(100%);
}

.chatroom-background {
    // height: 10vh;
    background-color: #36393F;
}

.chatroom-spacing {
    padding: 10px;
}