.message-index {
    background: #36393F;
    width: calc(100% - 280px);
}

.message-index-box {
    height: 90vh;
    color: #FFFFFF;
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    // align-items: center;
    // color: #DCDDDE;
    // display: block;
}
