.message-index {
    // display: flex;
    display: block;
    // flex-direction: column;
    background: #36393F;
    width: 100vw;
    height: 100vh;
    align-items: center;
    // color: #DCDDDE;
    color: #FFFFFF;
}