.server-index {
    display: flex;
    flex-direction: column;
    background: #202225;
    width: 80px;
    height: 100vh;
    align-items: center;
    overflow-y: scroll;
    font-family: $font;
    
    a {
        // font-family: $font;
        width: 60px;
        height: 60px;
        border: 1px;
        background: #36393F;
        font-size: 20px;
        font-weight: 600;
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px;
        line-height: 60px;
        text-align: center;
        color: #DCDDDE;
        border-radius: 100px;
    }
}

.server-form-button {
    width: 60px;
    height: 60px;
    border: 1px;
    background: #36393F;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    // line-height: 60px;
    text-align: center;
    color: #DCDDDE;
    border-radius: 100px;
}

.server-form-button-add {
    font-size: 50px;
    margin-right: 1px;
    position: relative;
    top: -5px;
}