.splash {
    background-color: #26262B;
    font-family: $font;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.splash-box {
    padding: 20px;
}

.splash-login-link {
    font-size: 20px;
    float: right;
}

.splash-intro {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.splash-intro2 {
    color: hsla(0, 0%, 100%, 0.6);
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-weight: 349;
    font-size: 16px;
    margin-bottom: 15px;
}

.splash-green-button-box {
    background-color: #43b581;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 3px;
    width: 250px;
    margin: 20px;
}

.splash-blue-button-box {
    background-color: #7289da;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 3px;
    width: 250px;
    margin: 20px;
}

.splash-button {
    font-size: 15px;
    font-weight: 500;
}

.splash-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}